

body{
	height: 1386px;
	width: 980px;
	margin: 0px;
	position: relative;
	background: #F0FFFF;
	font-family: "等线";
}

#headbox{/*左上红色一小块*/
	height: 61px;
	width: 110px;
	margin-left: 44px;
	margin-top: 0px;
	background: #D55D5C;
	position: absolute;
	border: 0px;
}

#wangzhi{
	position: absolute;
    left: 8px;
    top: 28px;
    font-size: 13px;
    color: white;

}
#wangzhi2{
	position: absolute;
	font-size: 13px;
    color: #D45D5C;
    right: 44px;
    bottom: 44px;
}
#headline{
	position: absolute;
    height: 2px;
    width: 892px;
    margin-left: 44px;
    margin-top: 61px;
    background: #938e8c;
}
#deadline{
	position: absolute;
	height: 1px;
    width: 892px;
    left: 44px;
    top: 1323px;
    background: #938e8c;
}
#divline1{
	position: absolute;
	top: 95px;
	right: 44px;
	height: 2px;
    width: 203px;
    background: #cc8091;
}
#day{
	position: absolute;
	right: 44px;
	top: 44px;
	font-size: 12px;
	color: #D45D5C;
}
#img1{
	position: absolute;
	left: 44px;
	top: 95px;
}
.cover{
	position: absolute;
	height: 301px;
	width: 191px;
	top: 0px;
}
#title1{
	position: absolute;
	left: 733px;
	top: 105px;
	font-size: 24px;
	text-decoration: underline;
	line-height: 32px;
}
#text1{
	position: absolute;
	left: 733px;
	top: 160px;
	font-size: 12px;
	color: #676767;
 
}
#bignum{
    position: absolute;
	left: 716px;
	top: 180px;
	font-size: 116px;
	color: #75b86b;
	font-family: "微软雅黑"; 
	font-style: italic;  /*倾斜字体 but好难看*/
}
#midnum{
	position: absolute;
	left: 733px;
	top: 335px;
	font-size: 55px;
	color: #cc8091;
	font-family: "微软雅黑"; 
}
#text2{
    position: absolute;
	left: 815px;
	top: 358px;
	font-size: 21px;
	color: #cc8091;
}
#text3{
	position: absolute;
	left: 815px;
	top: 380px;
	font-size: 12px;
	color: #cc8091;

}
#what{
	position: absolute;
	left: 44px;
	top: 425px;
	font-size: 16px;
	color: #418c59;
    text-decoration: underline;
    font-family: "微软雅黑"; 
}
#textwhat{
    position: absolute;
    width: 240px;
	left: 44px;
	top: 455px;
	font-size: 12px;
	color: #767777;
	line-height: 16px;
	font-family: "微软雅黑"; 
}
#when{
	position: absolute;
	left: 310px;
	top: 425px;
	font-size: 16px;
	color: #d2994f;
    text-decoration: underline;
    font-family: "微软雅黑"; 
}
#textwhen{
    position: absolute;
    width: 240px;
	left: 310px;
	top: 455px;
	font-size: 12px;
	color: #231815;
	line-height: 16px;
	font-family: "微软雅黑"; 
}
#how{
	position: absolute;
	left: 575px;
	top: 425px;
	font-size: 16px;
	color: #cc7680;
    text-decoration: underline;
    font-family: "微软雅黑"; 
}
#texthow{
    position: absolute;
    width: 120px;
	left: 575px;
	top: 455px;
	font-size: 12px;
	color: #767777;
	line-height: 22px;
	font-family: "微软雅黑"; 
}
.baifenbineirong{
    position: absolute;
	font-size: 12px;
	color: #767777;
	font-family: "微软雅黑"; 
	left: 575px;
}
#baifenbi1{
	position: absolute;
	top: 530px;
}
#baifenbi2{
	position: absolute;
	top: 555px;
}
#baifenbi3{
	position: absolute;
	top: 580px;
}
.baifenbishuzi{
	position: absolute;
	font-size: 12px;
	color: #cd4a48;
	left: 655px;
	font-family: "微软雅黑"; 
	font-style: italic;
}
#baifenbi4{
	position: absolute;
	top: 530px;
}
#baifenbi5{
	position: absolute;
	top: 555px;
}
#baifenbi6{
	position: absolute;
	top: 580px;
}

#title2{
	position: absolute;
	left: 44px;
	top: 650px;
	font-family: "黑体";
	font-size: 42px;
	color: #11456b;
	line-height: 36px;
}
#line1{
	position: absolute;
	background: #11456b;
	height: 2px;
	width: 415px;
	left: 44px;
	top: 780px;
}

#text4{
	position: absolute;
	left: 44px;
	top: 810px;
	width: 415px;
	color: #767777;
	font-size:12px;
	line-height: 16px;
}
#img3{
	position: absolute;
    top: 650px;
    right: 44px;
}
#cover3{
	position: absolute;
	background-color:rgba(0,0,0,0.5);
	height: 61px;
	width: 458px;
	right: 44px;
	top: 864px;
}
#title3{
	position: absolute;
	left: 550px;
	top: 874px;
	font-size: 26px;
	color: #ffffff;
	font-family: "微软雅黑";
    border-left: 3px #72b16a solid;
    height: 44px;
}
#title4{
	position: absolute;
	left: 680px;
	top: 894px;
	font-size: 12px;
	color: #72b16a;
	font-family: "微软雅黑";
	font-style: italic;
    height: 44px;
}
#back1{
	position: absolute;
	height: 318px;
	width: 459px;
	background: #FAFAD2;
    right: 44px;
    top: 960px;
}
#back2{
	position: absolute;
	height: 160px;
	width: 260px;
	background: #D55D5C;/*红色*/
    right: 243px;
    top: 1118px;
}
#title5{
	position: absolute;
	line-height: 86px;
	left: 495px;
    top: 1155px;
	font-size: 110px;
    font-family: "微软雅黑";
    color: #ffffff;
    border-right: 2px #ffffff solid;
    padding-right: 8px;
}
#title6{
	position: absolute;
	line-height: 24px;
	left: 580px;
    top: 1155px;
	font-size: 21px;
    font-family: "黑体";
    color: #ffffff;
    font-style: italic;
}
#text5{
	position: absolute;
	line-height: 15px;
	left: 583px;
    top: 1210px;
	font-size: 12px;
    font-family: "黑体";
    color: #ffffff;
}
.youxiazuo{
    position: absolute;
    left: 510px;
    font-size: 16px;
    color: #5a5b5b;

}
.youxiayou{
	position: absolute;
	right: 70px;
	font-size: 16px;
    color: #5a5b5b;

}
#youxia1{
	position: absolute;
	top: 990px;
}
#youxia2{
	position: absolute;
	top: 1030px;
}
#youxia3{
	position: absolute;
	top: 1070px;
}
#youxia4{
	position: absolute;
	top: 990px;
}
#youxia5{
	position: absolute;
	top: 1030px;
}
#youxia6{
	position: absolute;
	top: 1070px;
}
.yinhao{
	font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;
}
#text6{
	position: absolute;
	top: 1144px;
	left: 760px;
	width: 160px;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
	font-family: "黑体";
}